body {
    padding:1.5em 1em;
    background:url(../img/xwing.jpg) #eee ;
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    min-height:100vh;
    box-sizing: border-box;
}

h1 {color:white;}
#wrap {
    max-width:54em;
    width: 80%vw;
    margin: 0 auto;
    padding: 3em 3em 3em 3em;
    /*background: #eee;*/
    /* background:url(../img/xwing.jpg) #eee; */
    border-radius: .5rem;
    border:rgba(252, 137, 137, 0.671) solid .125em;
    height:557px;
    line-height: 1.4;
}

#charPick, #defend {
    min-height:4em;
    min-width:4em;
}
#charBank {
    clear:right;
    color: white;
}
#charBank > div {
    float:left;
    margin-right:1em;
}

#character {
    text-align: center;
    font-size:1.2em;
}


#attacker #character, #defend  #character, .btn {
    /* padding: .5em 1em; */
    display:inline-block;
    border-radius: .25em;
    margin-bottom: 1.5em;
}

#attack {
    font-size:1.2em;
    padding:.8em 1.2em;
    transition: all 100ms;
}

#attack:focus, #attack:hover {
    box-shadow: 0px 0px .8em .2em red;
}

#attack:active {
    translate: (1px,1px);
    background: rgb(235, 2, 2);
    box-shadow: none;
}

#character ul {
    width:115px;
    padding: .5em 1em;
}


#attacker #character { background:rgba(0, 136, 255, 0.461);color:white;}

#defend  #character { background: red;}



.btn {
    background: red;
    border: solid black .25em;
    color:white;
    cursor:pointer;
    font-weight: bold;
}

.gameover {
    color:white;
    font-size:2rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }