body {padding:1em;}

h1 {color:white;}
#wrap {
     max-width:54em;
    width: 80%vw;
    margin: 1.5em auto;
    padding: 1em;
    /*background: #eee;*/
    background:url(../img/xwing.jpg) #eee;
    border-radius: .125em;
    border:black solid;
    height:557px;
    line-height: 1.4;
}

#charWrap {

}

#charPick, #defend {
    min-height:4em;
    min-width:4em;
}
#charBank {
    clear:right;
    color: white;
}
#charBank > div {
    float:left;
}

#attacker #character, #defend  #character, .btn {
    padding: .5em 1em;
    display:inline-block;
    border-radius: .25em;
    margin-bottom: 1.5em;
}

#attacker #character { background:rgba(0, 136, 255, 0.461);}

#defend  #character { background: red;}

#charPick {
    
}

#attacker {

}

.btn {
    background: red;
    border: solid black .25em;
    color:white;
    cursor:pointer;
    font-weight: bold;
}

#defend {
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }